<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Page Metadata -->
    <meta charset="utf-8" http-equiv="Content-Security-Policy"
        content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='" />
    <title>Tune Launcher</title>

    <!-- Stylesheets -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="./styles/stylesheet.css" rel="stylesheet">
    <link href="./styles/balloon.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="./js/uiCore.js"></script>
    <script src="./js/uiController.js"></script>
</head>

<body>
    <div id="loadingContainer">
        <div id="loadingContent">
            <div id="logoContainer">
                <img id="loadingLogoImg" class="pulsating" src="./images/logo-1.png" alt="">
            </div>
        </div>
    </div>

    <div id="launcherContainer">
        <%- include('titlebar') %>
            <%- include('navbar') %>
                <%- include('landing') %>
                    <%- include('settings') %>
                        <%- include('partners') %>
                            <%- include('about') %>
                                <%- include('overlay') %>
    </div>
</body>

</html>